.nut-overlay {
  .wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      width: scale-px(150px);
      height: scale-px(150px);
      background: #fff;
      border-radius: scale-px(8px);
      align-items: center;
      justify-content: center;
      color: red;
    }
  }
}
